{% set isAdmin = is_granted('ROLE_ADMIN') %}
<!DOCTYPE html>
<html >
    <head>
      <meta charset="UTF-8">
      <title>
      {% block title %}ELAN - Litt&Arts - {% endblock %}
      </title>
      {% block stylesheets %}
      <link href="{{ asset("build/css/template.css") }}" rel="stylesheet" />
      <link href="{{ asset("build/css/project.css") }}" rel="stylesheet" />
      {% endblock %}
    </head>
    <body style="background: url(/img/Moucherotte.JPG) no-repeat center fixed;background-size: cover;">
      <div id="main-container" class="container">
        {# {% include('base-includes/flashmessages.html.twig') %} #}
        <div class="row">
          {% block body %}
          {% endblock %}
          {% include('base-includes/footer.html.twig') %}
        </div>
      </div>
      {% block javascripts %}
      <script src="{{asset("build/runtime.js")}}"></script>
      <script src="{{asset("build/js/vendor.js")}}"></script>
      <script src="{{asset("build/js/main.js")}}"></script>
      {% endblock %}
    </body>
</html>
