{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
  <form method="post">
      <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      </div>
      <button class="btn btn-primary" type="submit">
          Send mail !
      </button>
  </form>
{% endblock %}
