{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
<div class="col">
  <div class="card">
    <div class="card-body">
      <form method="post">
         <h1 class="h3 mb-3 font-weight-normal">S'inscrire</h1>
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
          </div>
          <div class="form-group">
             <label for="inputPassword" class="sr-only">Password</label>
             <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </div>

         <button class="btn btn-primary" type="submit">
             S'inscrire
         </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
