#main-container {
  padding-top: 50px;
}

#main-container .card.clickable {
  min-height:300px;
  max-height:300px;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

#main-container .card.clickable{
  cursor: pointer;
}

.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }
