/*import de bootstrap*/
@import "~bootstrap/dist/css/bootstrap.min.css";

.card-footer img {
  height: 72px;
  margin-right: 8px;
}

.card-footer a:hover {
  text-decoration: none;
}

#main-container #footer {
  margin-top:10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.inThePipelines{
  margin-top:10px;
  margin-bottom:10px;
  background-color: rgba(255, 255, 255, 0.8);
}

:focus, :active, :active:focus{
  outline:none;
}
