{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Utilisateurs{% endblock %}

{% block body %}
  <h1>
    <i class="fas fa-users"></i>
    Utilisateurs
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Rôles</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.email}}</td>
      <td>
          {% for role in user.roles %}
            - {{role}} -
          {% endfor %}
      </td>
      <td>
        <a class="btn btn-info" href="{{path('admin_switch_admin',{'id':user.id})}}">Toggle Admin</a>
        <a class="btn btn-danger" href="{{path('admin_delete_user',{'id':user.id})}}">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  {% if file is defined%}
    <a class="btn btn-outline-success" href="{{ asset(file) }}">Fichier export</a>
  {% else %}
    <a class="btn btn-outline-warning" href="{{path('admin_export_users')}}">Exporter la liste des utilisateurs</a>
  {% endif %}

{% endblock %}
