<div class="row p-2">
  <div class="col">
  {% for label, messages in app.flashes %}
    {% for message in messages %}
      <div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endfor %}
  {% endfor %}
  </div>
</div>
