<div class="col-12" >
  <div class="alert alert-info" id="footer" >
    <div class="row">
      <div class="col links">
        <a href="{{path("legal_notices")}}">Mentions légales</a> -
        <a target="_blank" href="https://gricad-gitlab.univ-grenoble-alpes.fr/elan/elan-vitrine">Code source</a> -
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('app_register') }}">S'enregistrer</a> -
            <a href="{{ path('app_login') }}">Se connecter</a> -
        {% else %}
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        {% endif %}
         (Crédits photo : Bertrand93 - 2011 - CC-BY-SA-3.0)
      </div>
    </div>
  </div>
</div>
