<nav class="navbar navbar-expand navbar-light bg-light">
  <div class=" w-100 order-1 order-md-0">
    <div class="navbar-nav mr-auto">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <i class="fas fa-shoe-prints"></i> TEMPLATE
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if isAdmin %}
        <a class="nav-item nav-link" href="{{ path('admin_list_users') }}">
          <i class="fas fa-users"></i> Utilisateurs
        </a>
      {% endif %}
    </div>
  </div>
  <div class="navbar-collapse collapse w-100 order-2">
    <ul class="navbar-nav ml-auto">
      {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav-item">
          <a class="nav-item nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{{ path('app_login') }}">Se connecter</a>
        </li>
      {% else %}
        <li class="navbar-text">
          <i class="fas fa-user"></i>
          {{ app.user.username }}
          {{isAdmin ? "(admin)" : "(user)" }}
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{{ path('app_logout') }}">
            <i class="fas fa-sign-out-alt"></i>
            Se déconnecter
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
