<div type="project">
	<div id="title">{{ square.title }}</div>
	<div id="subtitle">{{ square.subtitle }}</div>
	<div id="manager">{{ square.manager|raw }}</div>
	<div id="two-words">{{ square.twoWords|raw }}</div>
	<div id="last-update" value="{{square.lastUpdate|localizeddate('long', 'none', 'fr')}}"></div>
	<div id="elan">{{ square.elan|raw }}</div>
	<div id="dataType">{{ square.dataType}}</div>
	<div id="date" start="{{ square.startDate }}" end="{{ square.endDate }}"></div>
	<div id="state" value="{{ square.state }}"></div>
	<div id="status" value="{{(not square.inThePipeline) ? "actif" : "dans les tuyaux"}}"></div>
	<div id="link" value="{{ square.link }}"></div>
	<div id="img" value="{{ square.imageURL }}"></div>
</div>

