{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Edition{% endblock %}

{% block body %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edition/Création de contenu
          {% if square is defined and square.id is not null %}
            <a href="{{path('admin_remove_square', {id:square.id} )}}"><i class="fas fa-trash"></i></a>
          {% endif %}
        </h5>
        {{ form(form) }}
      </div>
    </div>
  </div>
{% endblock %}
