{% if elan %}
<div data-toggle="modal" data-target="#square-elan" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
  <div class="card clickable" style="background:rgba(255, 255, 255, 0.7);">
    <div class="card-body" style="color:rgba(0, 0, 0);">
      <h1 class="card-title text-center">{{elan.title}}</h1>
      <h4 class="card-text text-center">{{elan.subtitle}}</h4>
    </div>
    <div class="card-footer text-center">
      <a target="_blank" href="https://www.univ-grenoble-alpes.fr/">
        <img src="{{asset('img/logo_univ_grenoble_alpes.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.cnrs.fr">
        <img src="{{asset('img/logo_cnrs.jpg')}}"/>
      </a>
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
        <img src="{{asset('img/logo_littarts.png')}}"/>
      </a>
    </div>
  </div>
</div>

<div id="square-elan" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:rgba(255, 255, 255, 0.7);color:rgba(0, 0, 0);">
        <h5 class="modal-title">{{elan.title ~ ' - ' ~ elan.subtitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        <div class="row">
          <div class="col">
            <p class="text-muted text-right">
              <small>
                Dernière mise à jour : {{elan.lastUpdate|localizeddate('long', 'none', 'fr')}}
                {% if isAdmin %}<a href="{{path('admin_create_elan', {id: elan.id})}}"><i class="fas fa-edit"></i></a>{% endif %}
              </small>
            </p>
            <p>
              {{ elan.content|raw }}
            </p>
          </div>
          <div class="col-3 text-center">
            {% if elan.link %}
              <a style="display:block;width:100%"  class="btn btn-secondary mb-2" target="_blank" href="{{ elan.link }}">Accéder au site</a>
            {% endif %}
            <img width="100%" src="{{asset('img/elan-blog.png')}}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
{% if isAdmin %}
<div class="col-3 text-white text-center">
  <div class="card">
    <div class="card-body" >
      <h5 class="card-title">Init. ELAN</h5>
      <p class="card-text">
        <a href="{{path('admin_create_elan')}}"><i class="fas fa-plus fa-6x"></i></a>
      </p>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
