{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Page d'accueil{% endblock %}

{% block body %}
  {% include 'default/elan.html.twig' %}

  {% for square in squares %}
    {% include 'default/square.html.twig' %}
  {% endfor %}

  {% if isAdmin %}
  <div class="col-3 text-black text-center">
    <div class="card">
      <div class="card-body" >
        <h5 class="card-title">Nouveau carré</h5>
        <p class="card-text">
          <a href="{{path('admin_create_square')}}"><i class="fas fa-plus fa-4x"></i></a>
        </p>
      </div>
    </div>
  </div>
  {% endif %}
  </div>

  <div class="row">
    <div class="col-3">
      <div class="alert inThePipelines">
        Projets dans les tuyaux...
      </div>
    </div>
  </div>

  <div class="row">
    {% for square in inThePipelines %}
      {% include 'default/square.html.twig' %}
    {% endfor %}

{% endblock %}
