<div data-toggle="modal" data-target="#square-{{ square.id }}" class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
  <div class="card clickable" style="background:rgba({{ square.color|hex2rgb(0.7) }});">
    <div class="card-body" style="color:rgba({{ square.textColor|hex2rgb(1) }});">
      <h4 class="card-title text-center">
        {{ square.title }}
        {% if square.inThePipeline and isAdmin %}<a href="{{path('admin_create_square', {id:square.id} )}}"><i class="fas fa-edit"></i></a>{% endif %}
      </h4>
      <p class="card-text text-center">{{ square.subtitle }}</p>
    </div>
  </div>
</div>

{% if not square.inThePipeline %}
<div id="square-{{ square.id }}" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:rgba({{ square.color|hex2rgb(1) }});color:rgba({{ square.textColor|hex2rgb(1) }});">
        <h5 class="modal-title">{{ square.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify">
        <div class="row">
          <div class="col">
            <p class="text-muted text-right">
              <small>
                Dernière mise à jour : {{square.lastUpdate|localizeddate('long', 'none', 'fr')}}
                {% if isAdmin %}<a href="{{path('admin_create_square', {id:square.id} )}}"><i class="fas fa-edit"></i></a>{% endif %}
              </small>
            </p>

              {% if square.manager %}
              <p><strong>Responsable :</strong> {{ square.manager|raw }}</p>
              {% endif %}

              {% if square.twoWords %}
                <strong>Le projet en deux mots :</strong>
                <p>{{ square.twoWords|raw }}</p>
              {% endif %}

              <div class="bg-light rounded p-4">
                <strong>ELAN dans ce projet :</strong>
                <p>{{ square.elan|raw }}</p>

                {% if square.dataType %}
                <p><strong>Type de données :</strong> {{ square.dataType }}</p>
                {% endif %}

                {% if square.startDate %}
                <p><strong>Début du projet :</strong> {{ square.startDate }}</p>
                {% endif %}

                {% if square.endDate %}
                <p><strong>Fin du projet :</strong> {{ square.endDate }}</p>
                {% endif %}

                {% if square.state %}
                <p><strong>Etat du projet :</strong> {{ square.state }}</p>
                {% endif %}
              </div>
          </div>
          <div class="col-3 text-center">
            {% if square.link %}
              <a style="display:block;width:100%" class="btn btn-secondary mb-2" target="_blank" href="{{ square.link }}">Accéder au site</a>
            {% endif %}
            {% if square.imageURL %}
              <img width="100%" src="{{asset('upload/'~square.imageURL)}}"/>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
